*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Exo 2.0";
    scroll-behavior: smooth;
}
@font-face {
    font-family: "Exo 2.0";
    src: url("../font/9837.otf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
}
@font-face {
    font-family: "TexGyreAdventor";
    src: url("../font/tex-gyre-adventor.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
}
.left{float: left;}
.right{float: right;}
.clearfix{clear: both;}
.content{
    width: 800px;
    margin: 0 auto;
    padding: 110px 0;
}
a{color: #fff;}
.href{
    background-color: #FF6E30;
    border-radius: 5px;
    padding: 13px 44.56px;
    font-size: 0.8em;
    color: #fff;
}

.title{
    width: 100%;
    background-color: #16181A;
    padding-bottom: 100px;
}
menu{
    position: relative;
    top: 20px;
    width: 800px;
    margin: 0 auto;
    color: #fff;
    z-index: 2;
}
menu .left ul a{
    position: relative;
    top: -9px;
    margin-right: 18px;
    font-size: 0.9em;
}
menu .left ul a:last-child{margin-right: 0;}
menu .right a{
    position: relative;
    top: 8px;
    padding: 10px 30px;
}
.logo{
    width: 40px;
    height: 30px;
    position: relative;
    left: -4px;
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
    background-size:  auto 100%;
    background-position: center;
    display: inline-block;
}

.title .info{
    width: 800px;
    margin: 0 auto;
    margin-top: 100px;
    color: #fff;
}
.title .info .left{
    position: relative;
    z-index: 1;
}
.title .info .left h2{
    font-weight: bold;
    font-size: 2.8em;
    letter-spacing: 1px;
    margin-bottom: -2px;
    font-family: "TexGyreAdventor";
}
.title .info .left h3{
    font-size: 2em;
    width: 500px;
    font-weight: normal;
}
.title .info .left p{
    margin-top: 10px;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 50px;
}
.title .info .right{
    width: 200px;
    height: 400px;
    position: relative;
    z-index: 1;
    background-image: url(../img/tel.png);
    background-repeat: no-repeat;
    background-size: auto 100%;
}
.title .info .figure{
    position: relative;
    top: -150px;
    left: -160px;
    width: 900px;
    height: 650px;
    margin: 0 auto;
    background-image: url(../img/Up_figure.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100% 650px;
}

.soc{
    position: relative;
    z-index: 1;
    text-align: center;
    color: rgba(255, 255, 255, 0.800);
    background-image: url(../img/fon_form.png);
    width: 800px;
    padding: 25px 0;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.soc h3{
    font-weight: normal;
}
.where{
    margin-top: 15px;
}
.where p{
    display: inline-block;
    color: #4E5052;
    margin-right: 50px;
    font-size: 1.4em;
    margin-left: 50px;
}
.where p::first-letter{
    text-transform: uppercase;
}
.where div{
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    top: 9px;
    margin-right: 10px;
}
.where div{font-weight: bold;}

.where .telegramm{
    background-image: url(../img/telegramm_black.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    margin-right: 170px;
}
.where .Whatsapp{
    background-image: url(../img/whatsapp_black.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-right: 150px;
}
.where .Instagram{
    background-image: url(../img/instagram_black.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-right: 100px;
}
.soc .adress{
    margin-top: 30px;
}
.soc .adress p:first-child{
    margin-bottom: 7px;
    color: rgba(255, 255, 255, 0.800);
}

.links{
    width: 800px;
    height: 250px;
    margin: 93px auto 0;
    text-align: center;
}
.links .link{
    position: relative;
    z-index: 1;
    display: inline-block;
    width: 185px;
    vertical-align: top;
    border-radius: 5px;
    color: #000;
    margin-right: 10px;
    background-image: url(../img/fon_kart.png);
    background-position: center;
    background-repeat: no-repeat;
}
.links .link:last-child{margin-right: 0;}
.links .link h3{
    text-align: left;
    width: 130px;
    height: 40px;
    font-weight: bold;
    font-size: 1.35em;
    padding: 20px 10px 10px 20px;
}
.links .link ul{
    list-style-type:none;
    height: 70px;
    text-align: left;
    padding: 20px 10px 0 20px;
}
.links .link p{
    height: 60px;
    text-align: left;
    padding: 20px 10px 10px 20px;
}
.links .link a{
    float: left;
    text-align: left;
    border-radius: 0 0 5px 5px;
    margin-top: 20px;
    width: 145px;
    padding: 10px 20px;
    background-color: #FF6E30;
}
.links .figure{
    position: relative;
    top: -600px;
    left: 40px;
    width: 900px;
    height: 730px;
    margin: 0 auto;
    background-image: url(../img/down_figure.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100% 1100px;
}

.telegramm_bot{
    width: 800px;
    margin: 110px auto;
    text-align: right;
}
.telegramm_bot .left .telephone{
    width: 210px;
    height: 360px;
    margin: 0 auto;
    background-image: url(../img/tel1.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: auto 100%;
}
.telegramm_bot .right{
    width: 500px;
    text-align: right;
}
.telegramm_bot .right h2{
    padding-bottom: 6px;
    letter-spacing: 1.8px;
    border-bottom: 3px solid #FF6E30;
    float: right;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-weight: normal;
    font-size: 1em;
}
.telegramm_bot .right h3{
    font-size: 1.8em;
    margin-bottom: 15px;
    font-weight: normal;
}
.telegramm_bot .right p{
    margin-bottom: 20px;
    color: rgba(0, 0, 0, 0.5);
    width: 490px;
    position: relative;
    left: 10px;
    line-height: 25px;
    font-size: 0.85em;
}

.telegramm_bot .right p:before{
    content: "•";
    margin-right: 5px;
}
.telegramm_bot .right p span{
    color: #000;
}

.telegramm_bot .right a{
    position: relative;
    top: 20px;
}

.redemption{
    position: relative;
    top: 1px;
    background-image: url(../img/fon.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.redemption .content{
    width: 800px;
    padding: 110px 0;
    margin: 0 auto;
    color: #fff
}
.redemption .content h2{
    padding-bottom: 6px;
    letter-spacing: 1.8px;
    font-weight: normal;
    float: left;
    border-bottom: 3px solid #FF6E30;
    margin-bottom: 20px;
    font-size: 1.5em;
    font-size: 1em;
}
.redemption .content h3{
    font-size: 2em;
    font-weight: normal;
    width: 500px;
}
.redemption .content p {
    color: rgba(255, 255, 255, 0.5);
    width: 380px;
    margin: 20px 0;
    vertical-align: middle;
    line-height: 25px;
}
.redemption .content .teleg .telegramm{
    width: 25px;
    height: 30px;
    background-image: url(../img/telegramm_orange.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    display: inline-block;
}
.redemption .content .teleg a{
    position: relative;
    top: -8px;
    margin-left: 20px;
}

.repair{
    background-color: #161819;
    color: #fff;
}
.repair .left{
    position: relative;
    top: 50px;
    border-radius: 5px;
    padding: 0 0 25px 30px;
    background-color: #FF6E30;
}
.repair .left .dark{
    background-color: #161819;
    padding:  0 40px 30px 20px;
    border-radius: 0 0 0 5px ;
}
.repair .right {
    text-align: right;
}
.repair .right h2{
    padding-bottom: 6px;
    letter-spacing: 1.8px;
    border-bottom: 3px solid #FF6E30;
    float: right;
    margin-bottom: 20px;
    font-weight: normal;
    font-size: 1em;
    text-transform: uppercase;
}
.repair .right h3{
    width: 500px;
    margin-bottom: 20px;
    font-size: 2em;
    font-weight: normal;
    color: rgba(255, 255, 255, 0.9);
}
.repair .right ul{
    list-style-type:none;
    color: rgba(255, 255, 255, 0.5);
}
.repair .right ul li{margin-bottom: 5px;}

.repair .tikets{
    margin-top: 100px;
    text-align: center;
}
.repair .tikets div{
    width: 200px;
    height: 180px;
    padding: 25px;
    text-align: left;
    margin-right: 20px;
    display: inline-block;
    vertical-align: top;
    background-image: url(../img/fon_bez_mask.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.repair .tikets div:last-child{margin-right: 0;}
.repair .tikets div h2{
    padding-bottom: 6px;
    font-size: 1em;
    margin-bottom: 10px;
    font-size: 1em;
    font-weight: normal;
}
.repair .tikets div h2:first-child{margin-bottom: 20px;}
.repair .tikets div .orange{font-size: 1em;color: rgba(255, 165, 56, 0.5);margin-bottom: 20px;}

.repair .tikets div p{
    font-size: 0.85em;
    color: rgba(255, 255, 255, 0.5);
}
.repair .tikets .telegramm_tiket{
    background-image: url(../img/fon_s_mask.png);
    position: relative;
    top: -15px;
}
.repair .tikets .telegramm_tiket a{float: right;margin-top: 10px; padding: 8px 15px;}
.repair .tikets .telegramm_tiket .orange{color: rgb(255, 165, 56);}

.info_link_magazine .left h2{
    padding-bottom: 6px;
    letter-spacing: 1.8px;
    font-weight: bold;
    margin-bottom: 10px;
}
.info_link_magazine .left h3{
    font-size: 1.7em;
    font-weight: normal;
    margin-bottom: 15px;
}
.info_link_magazine .left p{
    font-size: 1em;
    width: 350px;
    color: rgba(0, 0, 0, 0.5);
}
.info_link_magazine .left .where{margin-bottom: 20px;}
.info_link_magazine .left .where p{
    position: relative;
    top: -3px;
    display: inline;
    color: #FF6E30;
    font-weight: bold;
    text-transform:capitalize;
    font-size: 1.4em;
    margin-left: 50px;
    font-family: "TexGyreAdventor";
}
.info_link_magazine .left .where div{
    height: 30px;
    width: 50px;
    background-position: left;
    background-repeat: no-repeat;
    background-size: auto 100%;
}
.info_link_magazine .left .where .telegramm{
    background-image: url(../img/telegramm_orange.svg);
    margin-right: 150px;
}
.info_link_magazine .left .where .Instagram{
    background-image: url(../img/instagram_orange.svg);
    margin-right: 100px;
}
.info_link_magazine .left h3:last-child{
    font-size: 1.2em;
    margin-top: 30px;
}
.info_link_magazine .right .telephone{
    width: 230px;
    height: 400px;
    background-image: url(../img/tel3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
}

.magazine_info{
    background-color: #161819;
    color: #fff;
}
.magazine_info .grant_info .left h2{
    padding-bottom: 6px;
    letter-spacing: 1.8px;
    border-bottom: 3px solid #FF6E30;
    float: left;
    font-weight: normal;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size: 1em;
}
.magazine_info .grant_info .left h3{
    font-size: 2em;
    font-weight: normal;
}

.magazine_info .grant_info .left p{color: rgba(255, 255, 255, 0.5);margin-bottom: 5px;}
.magazine_info .grant_info .left p:first-of-type{margin-top: 50px;}
.magazine_info .grant_info .left p:last-child{margin-bottom: 60px;}

.magazine_info .grant_info .right .orange{
    position: relative;
    top: 50px;
    border-radius: 5px;
    padding: 0 0 25px 30px;
    background-color: #FF6E30;
}
.magazine_info .grant_info .right p{
    width: 190px;
    background-color: #161819;
    padding:  0 0 30px 20px;
    border-radius: 0 0 0 5px ;
}


.magazine_info .accessories .left .orange{
    position: relative;
    top: 50px;
    border-radius: 5px;
    padding: 0 0 25px 30px;
    background-color: #FF6E30;
}
.magazine_info .accessories .left p{
    width: 190px;
    background-color: #161819;
    padding:  0 0 30px 20px;
    border-radius: 0 0 0 5px ;
}
.magazine_info .accessories .right{
    text-align: right;
    width: 400px;
}
.magazine_info .accessories .right h2{
    padding-bottom: 6px;
    margin-bottom: 20px;
    font-weight: normal;
}
.magazine_info .accessories .right p{
    position: relative;
    left: -150px;
    color: rgba(255, 255, 255, 0.5);
    width: 550px;
}
.magazine_info .accessories .right p:nth-child(3){margin-bottom: 30px;}

.magazine_info .accessories .right .assortment{
    color: rgba(255, 255, 255, 0.5);
    width: 520px;
    position: relative;
    right: 120px;
}
.magazine_info .accessories .right .assortment ul{
    padding-left: 0;
    list-style-type: none;
}
.magazine_info .accessories .right .assortment li{
    margin-bottom: 5px;
}
.magazine_info .accessories .right .assortment li:before{
    content: "•";
    margin-right: 5px;
}

.magazine_info .accessories .right div{
    width: 260px;
    text-align: right;
}

.trade_in {
    background-image: url(../img/fon.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: #fff;
    text-align: right;
}
.trade_in h2{
    padding-bottom: 6px;
    letter-spacing: 1.8px;
    font-weight: normal;
    text-transform: uppercase;
    border-bottom: 3px solid #FF6E30;
    float: right;
    margin-bottom: 20px;
    font-size: 1em;
} 
.trade_in h3 {
    font-weight: normal;
    float: right;
    font-size: 2em;
}
.trade_in p{
    color: rgba(255, 255, 255, 0.5);
    font-style: 0.8em;
    float: right;
    width: 600px;
    line-height: 25px;
}

.trade_in .clearfix:nth-last-child(3){margin-bottom: 40px;}


.about_us{
    color: #fff;
    background-color: #161819;
}
.about_us h2{
    padding-bottom: 6px;
    letter-spacing: 1.8px;
    border-bottom: 3px solid #FF6E30;
    float: left;
    text-transform: uppercase;
    font-weight: normal;
    margin-bottom: 20px;
    font-size: 1em;
}
.about_us h3{
    font-weight: normal;
    width: 400px;
    margin-bottom: 20px;
    font-size: 2em;
}
.about_us p{
    width: 400px;
    font-size: 0.9em;
}
.about_us .tikets .right{
    margin-top: 40px;
    width: 350px;
    display: inline-block;
}
.about_us .tikets .left{
    margin-top: 40px;
    width: 350px;
    display: inline-block;
}
.about_us .tikets .tiket{
    width: 350px;
}
.about_us .tikets h3{
    width: 300px;
    float:right;
    font-size: 1.4em;
    border: none;
}
.about_us .tikets p{
    width: 350px;
    margin-bottom: 50px;
    margin-left: 50px;
    font-size: 0.8em;
    
}
.about_us .tikets .img{
    width: 25px;
    height: 25px;
    background-position: top;
    background-repeat: no-repeat;
    background-size:auto 100%;
    display: inline-block;
}
.about_us .tikets .info .img{background-image: url(../img/warn.svg);}
.about_us .tikets .time .img{background-image: url(../img/time.svg);}
.about_us .tikets .persons .img{background-image: url(../img/soc.svg);}
.about_us .tikets .cash .img{background-image: url(../img/accept.svg);}

.about_us .soc{
    margin-top: 40px;
    padding: 30px 0 45px;
}
.about_us .where{
    margin-top: 15px;
}
.about_us .soc h3{
    width: 600px;
    margin: 0 auto;
    float: none;
    border: none;
    font-size: 1.3em;
}
.about_us .where p{
    width: 100px;
    display: inline-block;
    color: #4E5052;
    margin-right: 50px;
    font-size: 1.4em;
}
.about_us .where p::first-letter{
    text-transform: uppercase;
}
.about_us .where div{
    height: 30px;
    width: 50px;
    background-position: left;
    background-size: auto 100%;
    background-repeat: no-repeat;
}
.about_us .where .telegramm{
    background-image: url(../img/telegramm_black.svg);
    margin-right: 120px;
}
.about_us .where .Whatsapp{
    background-image: url(../img/whatsapp_black.svg);
    margin-right: 130px;
}
.about_us .where .Instagram{
    background-image: url(../img/instagram_black.svg);
}

footer{
    border-top: 1px solid #474747;
    background-color: #161819;
    color: #fff;
    font-weight: normal;
    font-size: 0.85em;
}
footer .info{
    display: inline-block;
    width: 200px;
    vertical-align: top;
    text-align: left;
    margin-right: 50px;
}
footer .info:last-child{
    margin-right: 0;
}
footer .info h3{
    margin-bottom: 20px;
}
footer .info h3 span{
    position: relative;
    top: 5px;
}
footer .info p{
    margin-bottom: 10px;
    line-height: 25px;
}
footer .info .wheref div{
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-bottom: 10px;
    margin-right: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
footer .wheref .telegramm{
    background-image: url(../img/telegramm_orange.svg);
}
footer .wheref .Whatsapp{
    background-image: url(../img/whatsapp_orange.svg);
}
footer .wheref .Instagram{
    background-image: url(../img/instagram_orange.svg);
}

footer .info ul{
    list-style-type: none;
}
footer .info li{
    margin-bottom: 5px;
    line-height: 25px;
}
footer .info li a{color: rgba(255, 255, 255, 0.5);}